#divAbstractUpdateContainer{
    flex-grow: 1;
}
#divPaperUpdateContainer{
    flex-grow:1;
}

form {
    width : 40%;
}

#divMainContainer > div > form{
    margin : 20px;
    padding : 20px;
    border : 3px royalblue dotted;
}

#divMainContainer > div > a{
    margin : 20px;
    padding : 20px;
}
#divPaperLinksContainer {
    margin :15px;
}