{%extends "base.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style_paper.css' %}">
    <link rel="stylesheet" href="{% static '/css/style_general.css' %}">
    <style>
    .pWarning {
        margin-left: 40px;
        color: #af1e01;
        font-weight:bold ;
    }
    </style>

{% endblock %}

{% block hrstyle %}style='height: 100vh'{% endblock hrstyle %}
{% block heroheading %} Reviewers{% endblock %}

{% block restBody %}
    <div id="divMainContainer" style="flex-direction: column;">
        {% if can_update_abstract%}
            <div id="divAbstractUpdateContainer">
                <form action="update_paper_files" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <input type="hidden" name="paper_id" value="{{ paper.id }}">
                    <div class="divInputContainer"><p>Your abstract file : </p><input type="file" name="abstract_file" ></div>
                    <input type="submit" value="Update Abstract">
                </form>
            </div>
        {% else %}
            {% if abstract_submission_deadline_passed %}
            <p class="pWarning">
            Abstract Submission deadline has passed.
            </p>
                {% endif %}
        {% endif %}
        {%if can_update_paper %}
            <div id="divPaperUpdateContainer">
                <form action="update_paper_files" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="paper_id" value="{{ paper.id }}">
                    <div class="divInputContainer"><p>Your file : </p><input type="file" name="paper_file" ></div>
                    <input type="submit" value="Update Paper">
                </form>
            </div>{% else %}
            {% if paper_submission_deadline_passed %}
            <p class="pWarning">
            Paper Submission deadline has passed.
            </p>
                {% endif %}

        {% endif %}

            <div id="divPaperLinksContainer">
                {% if can_download_abstract %}
                    <a href="download_file?file_name={{ paper.abstract_file_path }}&file_type=abstract">Download Abstract</a>
                {% endif %}
                {% if can_download_paper %}
                    <a href="download_file?file_name={{ paper.paper_file_path }}&file_type=paper">Download Paper</a>
                {% endif %}

            </div>
        </div>

    </div>
{% endblock %}